p {
    text-align: center;
    justify-content: space-between;
}

a + a {
    margin-left: 50px;
}

p a {
    color: white;
    text-decoration: none;
    background: gray;
    padding: 5px;
    border-radius: 5px;
}

p a:hover {
    background: darkgrey;
}