li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    font-size:20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    font-size: 22px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* make sure header fits even when screen gets really thin */
@media screen and (max-width: 1000px) and (orientation: portrait) {
    header {
        padding: 15px 0px 15px 0px;
        justify-content: space-evenly;
    }

    .nav-links li {
        display: inline-block;
        padding: 0px 10px;
    }

    button {
        padding: 7px 20px;
        margin-left: 10px;
    }
}