body {
    background: linear-gradient(45deg,#0006ff,#a801ff);
    margin: 0;
    /* because body doesnt extend the full height of the screen*/
    min-height: 98.4vh;
}

#image-container {
    margin-left: 5%;
    margin-right: 5%;
}

#stage-container {
    text-align: center;
}

#image-info {
    margin: 0;
    text-align: right;
    color: black;
    font-size: 14px;
    color: white;
}

#playButton-container {
    text-align: center;
}

#playButton {
    background-color: #24a0ed; /* Hintergrundfarbe */
    border: none; /* Kein Rand */
    color: white; /* Textfarbe */
    padding: 15px 32px; /* Innenabstand (oben/unten links/rechts) */
    text-decoration: none; /* Keine Textunterstreichung */
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand (oben/unten links/rechts) */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren */
    border-radius: 8px; /* Abrundung der Ecken */
}

.sound-waves {
    margin: 1%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-waves .stroke {
    display: block;
    position: relative;
    background: darkgray;
    height: 100%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;
}
@keyframes animate{
    50%{
        height: 20%;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}
.stroke:nth-child(8){
    animation-delay: 0.3s;
}
.stroke:nth-child(9){
    animation-delay: 0.6s;
}
.stroke:nth-child(10){
    animation-delay: 0.9s;
}
.stroke:nth-child(11){
    animation-delay: 0.6s;
}
.stroke:nth-child(12){
    animation-delay: 0.3s;
}
.stroke:nth-child(13){
    animation-delay: 0s;
}