body {
    margin: 0;
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

.main-container {
    text-align: center;
    /* display: flex; */
    height: 100vh;
    align-items: center;
    background: #111;
}

#header {
    /*font-size: 24px;
    margin-bottom: 20px; */

    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
}

.main-container .stage {
    height: 50%;
    width: 50%;
    overflow: hidden; /* Verhindert, dass das Bild über den Rahmen hinausragt */
    background-color: red;
}

#rotation-output {
    margin-top: 20px;
}

#playButton {
    font-size: 16px;
    margin-top: 10px;
}

#debug {
    margin-top: 20px;
    color: white;
}