body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    text-align: center;
}

#header {
    font-size: 24px;
    margin-bottom: 20px;
}

#container .stage {
    flex: 1;
    height: 100%;
    overflow: hidden; /* Verhindert, dass das Bild über den Rahmen hinausragt */
}

#rotation-output {
    margin-top: 20px;
}

#playButton {
    font-size: 16px;
    margin-top: 10px;
}

#debug {
    margin-top: 20px;
}